/* 
Michael Dziedzic
@lazycreekimages

Background image 
https://unsplash.com/photos/AsF0Nadbb18 
*/

@import "reset.css";

* {
    box-sizing: border-box;
    line-height: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: rgb(190, 190, 190);
}

body {
    overflow: scroll;
    margin: 5rem 16rem;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    padding: 2rem 3rem 3rem 3rem;
    background: rgba(0, 0, 0, 0.93);
    border-radius: 25px;
    box-shadow: 0 0 10px teal;
    min-width: 32rem;
}

code {
    font-family: monospace;
    font-weight: 900;
    color: rgb(187, 61, 61); 
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

table {
    border: 2px solid teal;
}

th,
td {
    border: 1px solid teal;
    padding: 1rem;
}

th {
    font-family: cursive;
    font-weight: 700;
    font-size: 1.1rem;
}

/* HOVER EFFECT */

.row {
    transition: 500ms;
}

.row:hover {
    background: rgba(0, 0, 0, 0.93);
    box-shadow: 0 0 10px teal;
}